
body{
	background: url(../img/chess2.jpg) no-repeat;
	background-size: cover;
}

.php{

	float: right;
	padding-right: 350px;
	top: -3px;
}

.ng{
	float: right;
	float-offset: 20px;
	top: -3px;
}
.transparent-bg{
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}